{% extends "home.html" %}
{% block news %}
{% for news in news %}
                  <div class="col-md-12">

                    <div id='row' class="shellnews">
                        <div class="news-cont">
                            {{ news.content }}
                        </div>
                        <div class="news-date">
                            Opublikowano : {{ news.published }}
                        </div>
                    </div>
                  </div>
{% endfor %}
{% endblock %}